.navBar {
    background-color: rgb(0, 0, 0);
    /* border-bottom:  solid rgb(38, 70, 83) 1px; */
    border-bottom:  solid rgb(42, 157,143) 1px;
    /* position: fixed; */
    color: white;
    z-index: 1;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: none;
  }
  
  .logo {
    margin-left: 24px;
    width: 150px;
    height: 40px;
    padding: none;
  }
  
  .menuGroup {
    display: flex;
    /* align-items: left; */
    align-items: center;
    /* gap: 40px; */
    /* justify-content: center; */
    padding: 20px;
    font-size: 15px;
    /* margin-right: 10px;  */
  
  }
  
  .menus {
    display: flex;
    gap: 30px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
  }
  
  .navBarBtnSmallScreen {
    display: none;
    width: 32px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin: 10px;  
  }

  .Button {
    background-color: rgb(42, 157,143);
    /* border: solid rgb(38, 70, 83) 1px; */
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .Button2 {
    /* background-color: rgb(42, 157,143); */
    border: solid rgb(255, 255, 255) 1px;
    font-weight: bold;
    display: flex;
    width: 120px;
    height: 44px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 8px 5px 5px rgb(38, 70, 83);
  }

  .CTA {
    display: flex;
    gap: 20px;
  }
  .Button2b {
    background-color: rgb(42, 157,143);
    /* border: solid rgb(255, 255, 255) 1px; */
    font-weight: bold;
    display: flex;
    width: 120px;
    height: 44px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 8px 5px 5px rgb(38, 70, 83);
  }

.MainContent {
    display: flex;
    margin-left: 24px;
    /* width: auto; */
    /* justify-content: space-between; */
}

.Herotext{
    text-align: center;
    display: block;
    background-image: url(./Resources/HeroImage.svg);
    background-size: cover;
    border-radius: 30px;
    margin-top: 50px;
    background-repeat: no-repeat;
    height: 60vh;
    width: 70vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

p{
    font-size: large;
}
  .SideBarStyle {
    display: block;
    background-color: rgba(55, 97, 116, 0.821);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-right: 30px;
    gap: 50px;
    width: 200px;
    height: 100vh;
  }

  .box {
    margin-top: 20px;
    margin-bottom: 55px
  }

  .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    color: white;
    /* padding: 50px; */
  }

.SidebarBG {
    display: block;
}

.card {
    display: flex;
    width: auto;
    flex-wrap: wrap ;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* background-color: rgba(227, 227, 227, 0.398); */
   
}
.cardContent {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    color: white;
    /* background-color: rgba(189, 189, 189, 0.636); */
}
.cardBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(19, 77, 70, 0.377);
}

.cardBox:hover {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 250px;
    height: 350px;
    box-shadow: 10px 5px 5px rgba(19, 77, 70, 0.744);
}

.cardImage {
    width: 250px;
}

.footer {
    color: rgba(119, 119, 119, 0.6);
    justify-content: center;
    padding: 30px;

}
  @media screen and (max-width: 672px){
    .menuGroup {
      display: flex;
      align-items: left;
      align-items: center;
      gap: 40px;
      justify-content: center;
      padding: 20px;
      font-size: 15px;
      margin-right: 60px;
    }
    
    .menus {
      display: none;
    }
  
    .navBarBtnSmallScreen {
      display: block;
      width: 32px;
      height: 32px;
    }

    .SideBarStyle {
        display: none
    }

    .SidebarBG {
        display: none;
    }

    .container {
      display: grid;
      /* justify-content: space-between;   */
    }
    .Herotext{
      text-align: center;
      display: block;
      background-image: url(./Resources/HeroImage.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 60vh;
      width: 95vw;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      overflow: none;
    }
  }

